<header class="main-header">
  <a href="index.html" class="header-left">
    <img src="/assets/much_to_say.png" width="38" />
    <span class="accent">much to say</span>
  </a>

  <nav class="nav-links">
    <a href="index.html" title="Home"><i class="fa-solid fa-house"></i></a>
    <a href="about.html" title="About"><i class="fa-solid fa-question"></i></a>
  </nav>

  <div class="header-right">
    <div class="theme-switch-wrapper">
      <label class="theme-switch" for="theme-toggle">
        <input type="checkbox" id="theme-toggle" />
        <div class="slider round">
          <i class="fa-solid fa-sun"></i>
          <i class="fa-solid fa-moon"></i>
        </div>
      </label>
    </div>
  </div>
</header>
