<header class="main-header">
  <a href="index.html" class="header-left">
    <img src="/assets/much_to_say.png" width="28" />
    <span class="accent">much to say</span>
  </a>

  <div class="header-right">
    <a href="/article.html?post=is-it-worth-keeping-a-journal" title="About"
      ><i class="fa-solid fa-question"></i
    ></a>
    <div class="theme-switch-wrapper">
      <label class="theme-switch" for="theme-toggle">
        <input type="checkbox" id="theme-toggle" />
        <div class="slider round">
          <i class="fa-solid fa-sun"></i>
          <i class="fa-solid fa-moon"></i>
        </div>
      </label>
    </div>
  </div>
</header>
